.comp-femme {

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3vw;
    

    img {
        width: 17vw; 
        height: 17vw; 
        border-radius: 50%;
        object-fit: cover; 

        
    }

    .texto {

        display: flex;
        flex-direction: column;
        
        
        h1 {
             font-family: 'Urbanist', sans-serif;
            font-size: 2.5vw;
            font-weight: 500;
            color: #fff;

        }

        p {
            max-width: 100%;
            width: 30vw;

            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 1.5vw;

            color: #fff;
         
        }
    }

}