.pagina-femme {
    margin: 0px;
    padding: 0px;

    background-color: #000;

    #unik {
        .hero {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: #4B3A76;
            padding: 3vw;
        }

        .hero-text {
            flex: 1;
            color: #fff;
        }

        .hero-text h1 {
            font-family: 'Amiko', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 4.1vw;
            margin: 0;
            line-height: 1.2em;

        }

        .hero-image {
            flex: 1;
            text-align: right;
        }

        .hero-image img {
            max-width: 100%;
            height: auto;
        }

        #sobre {
            background-color: #000;
            color: #f5f4f4;
            padding: 1.5vw;
            margin: 0 auto;
    
            .sobre-con {
                display: flex;
                flex-direction: column;
               align-items: center;
            }
    
            .sobre-imh2 {
                display: flex;
                align-items: center;
                gap: 1vw;
                margin-bottom: 2vw;
            }
            .femme {
                height: 5vw;
            }
        
    
            .sobre-imh2 h2 {
                font-family: 'Urbanist', sans-serif;
                font-weight: 800;
                font-size: 2.5vw;
                text-transform: uppercase;
                color: #fff;
                margin: 0;
            }
    
            .sobre-con p {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                color: #CBBDF3;
                font-size: 2vw;
                line-height: 1.6;
                width: 80vw;
                text-align: left;
                margin: 0vw 0vw 5vw 0vw;
            }
        }  
    }

    


    .segunda {
        display: flex;
        align-items: center; 
        background-color: #2E338D;
        padding: 3vw;

            .pri {
                display: flex;
                align-items: center; 
                justify-content: space-between;  
             

                .pri-text {
                    color: #fff;
            
                    h1 {
                        font-family: 'Amiko', sans-serif;
                        font-weight: 800;
                        font-size: 3vw;
                        text-transform: uppercase;
                        margin: 0;  
                        padding: 0vw 2vw 0vw 2vw;
                    }
            
                    p {
                        font-family: 'Urbanist', sans-serif;
                        font-size: 1.3vw;
                        margin: 0; 
                        padding: 1vw 0vw 0vw 2vw;
                    }
                }
            
                .pri-four {
                    display: flex;
                    justify-content: center;  
                    align-items: center;  
            
                    img {
                        max-width: 100%;
                        width: 40vw;
                    }
                }
            }
        }


    .terceira {
        color: #ffff;

        .container-pri {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2vw 2vw;
        }

        .femme {
            height: 5vw;

            
        }

        .container-pri h1 {
            font-family: 'Amiko', sans-serif;
            font-weight: 800;
            font-size: 3vw;
            text-transform: uppercase;
            margin: 0;  
            padding: 0vw 0vw 0vw 1vw;
        

        }

        .parag {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-family: 'Urbanist', sans-serif;
            font-size: 1.5vw;
            margin: 0; 
            color: #CBBDF3;
            
        }

        .p2 {
            padding: 0vw 0vw 0vw 10vw;
            color: #CBBDF3;

        }

        .dir {
            margin: 0vw 0vw 0vw 70vw;
            img {
                width: 15vw;

            }
        }

        .esq {
            margin: 0vw 0vw 0vw 10vw;
            img {
                width: 15vw;

            }
        }

       .line {
         width: 100%;
       }
    }

    .quarta{

        display: flex;
        flex-direction: column;
        font-family: 'Urbanist', sans-serif;
        .mae{         
       .titulo{
            display: flex;
            gap: 1vw;
            color: #EDDBDB;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-size: 2vw;
            

            img{
               width: 5vw;
            }
        }

        .mae2{
            background-color: #9573f1;
             
             padding: 5vw;
            
            .filho{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2vw;
          
            .text{
                display: block;
                color: #EDDBDB;
                width: 25vw;

                h1{
                    font-size: 3vw;
                }
                p{
                    font-size: 1.4vw;
                }
               
            }
            .foto{

                img{
                max-width: 100%;
                
                
            }
            }

        }
        }
        }
        }


        .quinta{
            font-family: 'Urbanist', sans-serif;
            margin-bottom: 3vw;



            .mae{
                display: block;
                

                .text{
                    color: #EDDBDB;
                    text-align: justify;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: start;
                    margin-left: 6vw;
                    margin-top: 2vw;
                    h1{
                        font-size: 2vw;
                    }
                    .textoo {
                        width: 15vw;
                        p{
                        line-height: 130%;
                        text-align: justify;
                        font-size: 1.1vw;
                    }
                    }
                   
                        
                .botao{
                    margin-top: 2vw;

                    a{
                        padding: 1vw 3vw;
                        color: #f5f4f4 ;
                        background-color: #2E338D;
                        border-radius: 30px;
                        text-decoration: none;
                        transition: background-color 0.1s ease-in-out;

                    }
        


                }
                a:hover {
                    background-color: #1c205f ;
                }    
            
                }
                
                .line {
                  margin-top: 5vw;
                   max-width: 100%;
                 
                }
            }
          
        }


    .desenvolvedoras {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        
        
        .sobre-imh2 {
            display: flex;
            align-items: center;
            position: relative;
            
            gap: 1vw;
          
            margin: 1vw 0vw 5vw 0vw;
           
            .femme {
                height: 5vw;
            }
            
        }

        
    

        .sobre-imh2 h2 {
            font-family: 'Urbanist', sans-serif;
            font-weight: 800;
            font-size: 3vw;
            text-align: center;
            text-transform: uppercase;
            color: #9573f1;
            margin: 0;
        }

        .nos {

            display: flex;
            flex-direction: column;
            gap: 6vw;
            
            .raymari {
                margin-left: 10vw;
            }
           
        }

        
    }

    footer {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 2vw 4vw;
        margin-top: 7vw;
        gap: 3vw;

        .rodape {
            display: flex;
            justify-content: space-between;
            align-items: center;


            img {
                width: 15vw;
            }

            nav {
                display: flex;
                
            }
            
            nav ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                gap: 4vw;
            }
            
            nav ul li a {
                color: #f5f4f4;
                text-decoration: none;
                font-family: 'Urbanist', sans-serif;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 1.3vw;
                

            }
        }

        h1 {
            text-align: center;
            font-family: 'Urbanist', sans-serif;
            font-size: 1.3vw;
            font-weight: 400;
        }
    }

   @media (max-width: 768px) {

    
    #unik {
        .hero {
            padding: 6vw;
        }

        #sobre {
            padding: 2.5vw;
    
            .sobre-imh2 {
                gap: 1vw;
                margin-bottom: 4vw;
            }
            .femme {
                height: 5.5vw;
            }
        
    
            .sobre-imh2 h2 {
                font-size: 3vw;
               
            }
    
            .sobre-con p {
                font-size: 2.4vw;    
            }
        }  
    }
    .segunda {
        display: flex;
        align-items: center; 
        justify-content: center;
        padding: 6vw;
       
            .pri {
                display: flex;
                flex-direction: column;
                align-items: center; 
                gap: 4vw;
             
                .pri-text {
                    h1 {
                        font-size: 5vw;
                    }
                    p {
                        font-size: 2.3vw;
                       
                    }
                }
            
                .pri-four {
                 
                    img {
                        max-width: 100%;
                        width: 50vw;
                    }
                }
            }
        }

        .terceira {
            .container-pri {
                padding: 5vw;
            }
    
            .femme {
                height: 7vw;
            }
    
            .container-pri h1 {
                font-size: 4.5vw;
            
            }
    
            .parag {
                font-size: 2.3vw;
              
            }
    
    
        }

        .quarta{
            .mae{     
            
           .titulo{
                padding: 2vw;
                display: flex;
                gap: 1vw;
                color: #EDDBDB;
                justify-content: center;
                text-align: center;
                align-items: center;
                font-size: 3vw;
                
    
                img{
                   width: 6vw;
                }
            }
    
            .mae2{
                background-color: #9573f1;
        
                 padding: 5vw;
                
                .filho{
                display: flex;
                flex-direction: column;
                .text{
                  
                    width: 50vw;
    
                    h1{
                        font-size: 5vw;
                    }
                    p{
                        font-size: 2.3vw;
                    }
                   
                }
                .foto{
    
                    img{
                    max-width: 100%;
                    width: 50vw;
                    
                    
                }
                }
    
            }
            }
            }
            }

            .quinta{
                margin-bottom: 5vw;
                .mae{
                  
                    .text{
                        margin-left: 6vw;
                        h1{
                            font-size: 4vw;
                        }
                        .textoo {
                            width: 40vw;
                            p{
                            line-height: 130%;
                            text-align: justify;
                            font-size: 2.3vw;
                        }
                        }
                       
                            
                    .botao{
                        margin-top: 2vw;
    
                        a{
                            padding: 2vw 5vw;
                        
                        }
                    }
                
                    }
                    
                    .line {
                      margin-top: 10vw;
                       max-width: 100%;
                     
                    }
                }
              
            }

            .desenvolvedoras {

                .sobre-imh2 {
        
                    .femme {
                        height: 6vw;
                    }
                    
                }
        
            
                .sobre-imh2 h2 {
                  
                    font-size: 4vw;
                
                }
        
                .nos {
                    display: flex;
                    flex-direction: column;
                    gap: 6vw;
                    
                    .raymari {
                        margin-left: 18vw;
                    }
                   
                }
        
                
            }
            footer {
                padding: 2vw 8vw;
    
                .rodape {
                 
                    img {
                        width: 20vw;
                    }
        
                    nav ul {
                     
                        gap: 6vw;
                    }
                    
                    nav ul li a {
                     
                        font-size: 1.7vw;
                        
        
                    }
                }
        
                h1 {
                  
                    font-size: 2vw;
                  
                }
            }
   }
   @media (max-width: 468px) {

    
    #unik {
        .hero {
            padding: 7vw;
        }

        #sobre {
            padding: 2.5vw;
    
            .sobre-imh2 {
                margin-bottom: 5vw;
            }
            .femme {
                height: 6vw;
            }
        
            .sobre-imh2 h2 {
                font-size: 5vw;
               
            }
    
            .sobre-con p {
                font-size: 3vw;    
            }
        }  
    }
    .segunda {
        padding: 8vw;
       
            .pri {
    
                gap: 6vw;
             
                .pri-text {
                    h1 {
                        font-size: 6vw;
                    }
                    p {
                        font-size: 3vw;
                       
                    }
                }
            
                .pri-four {
                 
                    img {
                        max-width: 100%;
                        width: 55vw;
                    }
                }
            }
        }

        .terceira {
            .container-pri {
                padding: 5vw;
            }
    
            .femme {
                height: 7.5vw;
            }
    
            .container-pri h1 {
                font-size: 6vw;
            
            }
    
            .parag {
                font-size: 3vw;
              
            }
    
    
        }

        .quarta{
            .mae{     
            
           .titulo{
                
                font-size: 4vw;
                
    
                img{
                   width: 6vw;
                }
            }
    
            .mae2{
            
                .filho{
               
                .text{
                  
                    width: 55vw;
    
                    h1{
                        font-size: 6vw;
                    }
                    p{
                        font-size: 3vw;
                    }
                   
                }
                .foto{
    
                    img{
                    max-width: 100%;
                    width: 55vw;
                    
                    
                }
                }
    
            }
            }
            }
            }

            .quinta{
                margin-bottom: 10vw;
                .mae{
                  
                    .text{
                        margin-left: 6vw;
                        h1{
                            font-size: 5vw;
                        }
                        .textoo {
                            width: 40vw;
                            p{
                            line-height: 130%;
                            text-align: justify;
                            font-size: 3vw;
                        }
                        }
                       
                            
                    .botao{
                        margin-top: 2vw;
    
                        a{
                            padding: 2.5vw 6vw;
                        
                        }
                    }
                
                    }
                    
                    .line {
                      margin-top: 10vw;
                       max-width: 100%;
                     
                    }
                }
              
            }

            .desenvolvedoras {

                .sobre-imh2 {
        
                    .femme {
                        height: 7vw;
                    }
                    
                }
        
            
                .sobre-imh2 h2 {
                  
                    font-size: 5vw;
                
                }
        
                .nos {
                    display: flex;
                    flex-direction: column;
                    gap: 6vw;
                    justify-content: center;
                    align-items: center;
                    
                
                }
        
                
            }
            footer {
                padding: 2vw 10vw;
    
                .rodape {
                 
                    img {
                        width: 25vw;
                    }
        
                    nav ul {
                     
                        gap: 3vw;
                    }
                    
                    nav ul li a {
                     
                        font-size: 2.3vw;
                        
        
                    }
                }
        
                h1 {
                  
                    font-size: 2.5vw;
                  
                }
            }
   }
}