.pagina-femme {
    margin: 0px;
    padding: 0px;

    background-color: #000;

    #unik {
        .hero {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: #4B3A76;
            padding: 40px;
        }

        .hero-text {
            flex: 1;
            color: #fff;
        }

        .hero-text h1 {
            font-family: 'Amiko', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 3.5em;
            margin: 0;
            line-height: 1.2em;
            width: 600px;
        }

        .hero-image {
            flex: 1;
            text-align: right;
        }

        .hero-image img {
            max-width: 100%;
            height: auto;
        }

        #sobre {
            background-color: #000;
            color: #f5f4f4;
            padding: 40px;
            margin: 0 auto;
    
            .sobre-con {
                display: flex;
                flex-direction: column;
               align-items: center;
            }
    
            .sobre-imh2 {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 20px;
            }
            .femme {
                height: 60px;
            }
        
    
            .sobre-imh2 h2 {
                font-family: 'Urbanist', sans-serif;
                font-weight: 800;
                font-size: 40px;
                text-transform: uppercase;
                color: #fff;
                margin: 0;
            }
    
            .sobre-con p {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                color: #CBBDF3;
                font-size: 26px;
                line-height: 1.6;
                width: 1200px;
                text-align: left;
                margin: 0px 0px 90px 0px;
            }
        }  
    }

    


    .segunda {
        display: flex;
        align-items: center; 
        background-color: #2E338D;
        padding: 50px;

            .pri {
                display: flex;
                align-items: center; 
                justify-content: space-between;  
             

                .pri-text {
                    color: #fff;
            
                    h1 {
                        font-family: 'Amiko', sans-serif;
                        font-weight: 800;
                        font-size: 43px;
                        text-transform: uppercase;
                        margin: 0;  
                        padding: 0px 20px 0px 30px;
                    }
            
                    p {
                        font-family: 'Urbanist', sans-serif;
                        font-size: 20px;
                        margin: 0; 
                        padding: 10px 0px 0px 30px;
                    }
                }
            
                .pri-four {
                    display: flex;
                    justify-content: center;  
                    align-items: center;  
            
                }
            }
        }


    .terceira {
        color: #ffff;

        .container-pri {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 20px;
        }

        .femme {
            height: 60px;
            padding: 0px 0px 0px 0px;
            
        }

        .container-pri h1 {
            font-family: 'Amiko', sans-serif;
            font-weight: 800;
            font-size: 43px;
            text-transform: uppercase;
            margin: 0;  
            padding: 0px 0px 0px 10px;
        

        }

        .parag {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-family: 'Urbanist', sans-serif;
            font-size: 22px;
            margin: 0; 
            color: #CBBDF3;
            
        }

        .p2 {
            padding: 0px 0px 0px 120px;
            color: #CBBDF3;

        }

        .dir {
            margin: 0px 0px 0px 950px;
        }

        .esq {
            margin: 0px 0px 0px 80px;
        }

        .branco {
            padding: 0px 0px 40px 0px;
        }
    }

    .quarta{

        display: flex;
        flex-direction: column;
        font-family: 'Urbanist', sans-serif;
        .mae{         
       .titulo{
            color: #EDDBDB;
            justify-content: center;
            text-align: center;
            font-size: 30px;
            

            img{
               width: 50px;
            }
        }

        .mae2{
            background-color: #9573f1;
             height: 515px;
            
            .filho{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          
            .text{
                margin-top: 70px;
                display: block;
                color: #EDDBDB;
                width: 330px;

                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 20px;
                }
               
            }
            .foto{

                img{
                width: 402px;
                height: 267px;
                margin-top:150px;
            }
            }

        }
        }
        }
        }


        .quinta{
            font-family: 'Urbanist', sans-serif;



            .mae{
                display: block;
                height: 300px;

                .text{
                    color: #EDDBDB;
                    text-align: justify;
                    margin-left: 470px;
                    margin-top: 60px;
                    p{
                        width: 255px;

                    }
                }
                .botao{
                    padding: 60px 0px;
                    a{
                        padding: 10px 30px;
                        color: #f5f4f4 ;
                        background-color: #2E338D;
                        border-radius: 30px;
                        text-decoration: none;
                        margin-left: 470px;


                    }


                }
            }
        }


    






    .desenvolvedoras {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        
        
        .sobre-imh2 {
            display: flex;
            align-items: center;
            position: relative;
            
            gap: 15px;
            margin-bottom: 20px;
            margin-bottom: 5rem;
            margin-left: 5rem;
            
        }

        .imagen {
            position: absolute;
            top: -7px;
            right: 25rem;
        }
        .femme {
            height: 60px;
        }
    

        .sobre-imh2 h2 {
            font-family: 'Urbanist', sans-serif;
            font-weight: 800;
            font-size: 40px;
            text-align: center;
            text-transform: uppercase;
            color: #9573f1;
            margin: 0;
        }

        .nos {

            display: flex;
            flex-direction: column;
            gap: 50px;
            

            .raymari {
                margin-left: 14rem;
            }
        }

        
    }


}