.cabeçalho {
    display: flex;
    background-color: #000000b2; 
    width: 100%;
    align-items: center;
    color: #f5f4f4;
    justify-content: space-between;
    padding: 1vw 3vw;
    position: fixed;
    z-index: 1000; 
    box-sizing: border-box; 

.imh1 {
    display: flex;
    align-items: center;
    gap: 1vw; 
}

nav ul li {
   margin-left: 2vw;
}

h1 {
    font-size: 3.4vw;
    font-family: 'Yrsa', serif;
    font-weight: 200; 
    margin: 0;
}

.femme {
    height: 4vw;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: #f5f4f4;
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.3vw;
}

nav ul li a:hover {
    color: #8660c4; 
}
}